
//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey : #777;


// about section
$about-h-gap : 6rem;

// features section
$card-horizontal-gap: 4rem;
$card-horizontal-gap-small: 2rem;


//stories section

$stories-h-gap : 2rem