.about__img-box {
  width: 57%;
  position: absolute;
  transition: all .1s ease-in;
  &--1{
    z-index: 10;
    top:-2rem;

    @include respond(tab-port) {
      // top:3rem;
      // left: 10%;
      top:1rem;
      left: 0;
      transform: scale(.8) translateX(8rem);
    }

   
  }
  &--2{
    z-index: 40;
    top:1rem;
    left:19rem;

    @include respond(tab-port) {
      // top:3rem;
      // left: 60%;
      top: 0;
      left: 0;
      transform: scale(.9) ;
    }
  }
  &--3{
    z-index: 30;
    left: 9rem;
    top: 7rem;

    @include respond(tab-port) {
      // top:1rem;
      left: 0;
      top: 1rem;
      // left: 35%;
      transform: scale(.8) translateX(-8rem);
    }
   

  }

  &:hover{
    z-index: 100;
    transform: scale(1.16);
    outline: solid .7rem  $color-primary;
    outline-offset: 1rem;
  }
  
  
  & img {
    width:100%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
    border-radius: 2px;
  }

  @include respond(tab-port) {
    margin-top: 4rem;
    width:33.3333%;
    position: relative;
    float: left;
  }
}

.about__col:hover .about__img-box:not(:hover) {
  transform: scale(.95);
}


